<h2>About Derek</h2>
<p>Derek is a lifelong resident of Sydney-Whitney Pier. He was born and raised in the Shipyard area and is the son of Doug and Margaret (Novak) Mombourquette.<br><br>

He is married to Stephanie Kennedy a teacher with the Cape Breton-Victoria Regional School Board. They are the proud parents of Emilie, who was born this year.</p>


<p>We are currently in the midst of setting up our constituency office in  <a href="https://www.google.ca/maps/place/710+Victoria+Rd,+Sydney,+NS+B1N+1J2/@46.155173,-60.182386,17z/data=!3m1!4b1!4m2!3m1!1s0x4b67e4da41143bbb:0x238c03dd5a487aa8" target="_blank">Whitney Pier</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="mailto:derek@mombourquette.ca"><span class="fa fa-envelope fa-lg main-list-item-icon"></span>Send us an email</a>
  </li>
  <li class="main-list-item">
    <a href="https://www.facebook.com/derekmombo"><span class="fa fa-facebook fa-lg main-list-item-icon"></span>Find us on Facebook</a>
  </li>
  <li class="main-list-item">  
    <a href="https://twitter.com/Derek_Mombo"><span class="fa fa-twitter fa-lg main-list-item-icon"></span>Tweet with hashtag #mombo</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-phone fa-lg main-list-item-icon"></span>
    <a href="tel:+1.902.562.8870">902.562.8870</a>
  </li>
  
</ul>
